RewriteEngine On
#AuthType Basic
#AuthName "Password Protected Area"
#AuthUserFile "/dati/www/asapcard/.htpasswd"
#Require valid-user

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l

#RewriteCond %{REQUEST_URI}::$1 ^(/.+)(.+)::$
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
