@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,300italic,400italic,600,600italic,700,700italic,900,900italic,200,200italic);
@font-face {
  font-family: 'walkway_semiboldregular';
  src: url("../fonts/Walkway_SemiBold-webfont.eot");
  src: url("../fonts/Walkway_SemiBold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Walkway_SemiBold-webfont.woff") format("woff"), url("../fonts/Walkway_SemiBold-webfont.ttf") format("truetype"), url("../fonts/Walkway_SemiBold-webfont.svg#walkway_semiboldregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'walkway_boldregular';
  src: url("../fonts/Walkway_Bold-webfont.eot");
  src: url("../fonts/Walkway_Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Walkway_Bold-webfont.woff") format("woff"), url("../fonts/Walkway_Bold-webfont.ttf") format("truetype"), url("../fonts/Walkway_Bold-webfont.svg#walkway_boldregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'walkway_ultraboldregular';
  src: url("../fonts/Walkway_UltraBold-webfont.eot");
  src: url("../fonts/Walkway_UltraBold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Walkway_UltraBold-webfont.woff") format("woff"), url("../fonts/Walkway_UltraBold-webfont.ttf") format("truetype"), url("../fonts/Walkway_UltraBold-webfont.svg#walkway_ultraboldregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
